@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: calc(18px + 7 * ((100vw - 320px) / 1600));
  color: #6a6e77;
  opacity: 0;
}
body.loaded {
  opacity: 1;
  transition: all 0.8s ease;
}

._container {
  width: 100%;
  padding-left: calc(15px + 225 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 225 * ((100vw - 320px) / 1600));
}

.section-header__label {
  line-height: 1.24;
}
.section-header__label:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1920px) {
  .section-header__label:not(:last-child) {
    margin-bottom: calc(12px + 20 * ((100vw - 320px) / 1600));
  }
}
.section-header__title {
  font-size: calc(25px + 25 * ((100vw - 320px) / 1600));
  line-height: 1.25;
  font-weight: 700;
  color: #1c1f25;
  max-width: calc(274px + 195 * ((100vw - 320px) / 1600));
}
.section-header__title_big {
  max-width: calc(470px + 370 * ((100vw - 320px) / 1600));
}
.section-header__title:not(:last-child) {
  margin-bottom: 0.75em;
}
@media (min-width: 1091px) {
  .section-header__title:not(:last-child) {
    margin-bottom: 2.2em;
  }
}
.section-header__text {
  max-width: 33.75rem;
  line-height: 1.8;
  font-size: 25px;
}
@media (max-width: 1920px) {
  .section-header__text {
    font-size: calc(15px + 10 * ((100vw - 320px) / 1600));
  }
}
.section-header_lite .section-header__text {
  color: #e3e6ec;
}
.section-header_lite .section-header__title {
  color: #fff;
  font-size: calc(35px + 25 * ((100vw - 320px) / 1600));
}

.services {
  display: grid;
  gap: calc(10px + 50 * ((100vw - 320px) / 1600));
}
.services__item {
  display: flex;
  align-items: center;
  gap: calc(10px + 40 * ((100vw - 320px) / 1600));
  opacity: 0;
  transition: all 1s;
  transition-delay: 0s;
}
@media (max-width: 479.98px) {
  .services__item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.swiper-slide-active .services__item {
  opacity: 1;
}
.swiper-slide-active .services__item:nth-child(1) {
  transition-delay: 0.25s;
}
.swiper-slide-active .services__item:nth-child(2) {
  transition-delay: 0.5s;
}
.swiper-slide-active .services__item:nth-child(3) {
  transition-delay: 0.75s;
}
.swiper-slide-active .services__item:nth-child(4) {
  transition-delay: 1s;
}
.services__icon {
  flex: 0 0 3.75rem;
  height: 3.75rem;
}
.services__icon img {
  max-width: 100%;
}
.services__title:not(:last-child) {
  margin-bottom: calc(8px + 24 * ((100vw - 320px) / 1600));
}

.text {
  font-size: calc(14px + 11 * ((100vw - 320px) / 1600));
  line-height: 1.8;
}

.title {
  color: #1c1f25;
  font-weight: 700;
  line-height: 1.2666666667;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
}

.screen-10__body, .item-screen-09__body, .values-screen-03, .section-header__label, .section-header__title, .section-header__text {
  transition: all 1s;
  transform: translate(0px, 6.25rem);
  opacity: 0;
}
.swiper-slide-prev .screen-10__body, .swiper-slide-prev .item-screen-09__body, .swiper-slide-prev .values-screen-03, .swiper-slide-prev .section-header__label, .swiper-slide-prev .section-header__title, .swiper-slide-prev .section-header__text {
  transform: translate(0px, -6.25rem);
}
.swiper-slide-next .screen-10__body, .swiper-slide-next .item-screen-09__body, .swiper-slide-next .values-screen-03, .swiper-slide-next .section-header__label, .swiper-slide-next .section-header__title, .swiper-slide-next .section-header__text {
  transform: translate(0px, 6.25rem);
}
.swiper-slide-active .screen-10__body, .swiper-slide-active .item-screen-09__body, .swiper-slide-active .values-screen-03, .swiper-slide-active .section-header__label, .swiper-slide-active .section-header__title, .swiper-slide-active .section-header__text {
  transform: translate(0px, 0px);
  opacity: 1;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__section {
  flex: 1 0 100%;
  position: relative;
}

.page__pagination {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .page__pagination {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  left: calc(7.5px + 112.5 * ((100vw - 320px) / 1600));
  right: 100%;
}
@media (max-width: 767px) {
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    top: auto;
    bottom: 1.25rem;
    left: 50%;
    right: auto;
  }
}

.page__bullet {
  width: 0.25rem;
  height: 2.0625rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 5px 0px;
  transition: background-color 0.5s ease;
}
@media (max-width: 767px) {
  .page__bullet {
    width: 1.75rem;
    height: 0.1875rem;
  }
}

.page__bullet-active {
  background-color: #050505;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.wrapper._loaded .page__pagination {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .wrapper._loaded .page__pagination {
    transform: translate(-50%, 0%);
  }
}

.wrapper._free .page__pagination {
  transition: all 0.3s ease;
  transform: translate(50px, -50%);
  opacity: 0;
}

.page {
  counter-reset: item;
}
.page__section::before {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(7.5px + 112.5 * ((100vw - 320px) / 1600));
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  font-weight: 700;
  font-size: 50px;
  color: #e3e6ec;
}
@media (max-width: 1920px) {
  .page__section::before {
    font-size: calc(18px + 32 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 767px) {
  .page__section::before {
    top: 1.5625rem;
    right: 50%;
  }
}
.screen-01__container {
  display: flex;
  min-height: 100%;
}
@media (min-width: 767px) {
  .screen-01__container {
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 767px) {
  .screen-01__container._container {
    padding-left: 0;
    padding-right: 0;
  }
}
.screen-01__body {
  flex-grow: 1;
  position: relative;
  padding-top: calc(50px + 105 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 105 * ((100vw - 320px) / 1600));
  padding-left: calc(15px + 225 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 225 * ((100vw - 320px) / 1600));
}
.screen-01__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 31, 37, 0.6);
}
@media (max-width: 767px) {
  .screen-01__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
  }
}
.screen-01__section-header {
  position: relative;
  z-index: 1;
}
.screen-01__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (min-width: 767px) {
  .screen-02__container {
    display: flex;
    align-items: flex-start;
    min-height: 100%;
  }
}
.screen-02__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 767px) {
  .screen-02__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }
}
.screen-02__image {
  flex: 1 1 50%;
}
.screen-02__image img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .screen-02__image img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
}

@media (min-width: 767px) {
  .screen-03__container {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100%;
  }
}
.screen-03__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 767px) {
  .screen-03__content {
    padding-bottom: 3.125rem;
    padding-left: 1.25rem;
  }
}
.screen-03__image {
  flex: 0 1 50%;
  position: relative;
}
.screen-03__image img {
  max-width: 100%;
}
@media (min-width: 767px) {
  .screen-03__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    margin-left: calc(-15px + -225 * ((100vw - 320px) / 1600));
  }
}
.values-screen-03 {
  padding-top: 120px;
  display: grid;
  gap: 76px;
}
@media (max-width: 1920px) {
  .values-screen-03 {
    padding-top: calc(25px + 95 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .values-screen-03 {
    gap: calc(13px + 63 * ((100vw - 320px) / 1600));
  }
}
.values-screen-03__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 0.9375rem;
}
.values-screen-03__label {
  font-size: 25px;
}
@media (max-width: 1920px) {
  .values-screen-03__label {
    font-size: calc(16px + 9 * ((100vw - 320px) / 1600));
  }
}
.values-screen-03__value {
  font-size: 25px;
  color: #1c1f25;
  font-weight: 700;
}
@media (max-width: 1920px) {
  .values-screen-03__value {
    font-size: calc(16px + 9 * ((100vw - 320px) / 1600));
  }
}
.values-screen-03__line {
  grid-column: span 2;
  background: rgba(28, 31, 37, 0.1);
}
.values-screen-03__line span {
  display: block;
  background: #1c1f25;
  height: 0.625rem;
}

.screen-04__container {
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  flex-direction: column;
}
.screen-04__section-header:not(:last-child) {
  margin-bottom: 153px;
}
@media (max-width: 1920px) {
  .screen-04__section-header:not(:last-child) {
    margin-bottom: calc(25px + 128 * ((100vw - 320px) / 1600));
  }
}
.advantages-screen-04 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: 50px;
}
@media (max-width: 1920px) {
  .advantages-screen-04 {
    gap: calc(20px + 30 * ((100vw - 320px) / 1600));
  }
}
.advantages-screen-04__item {
  opacity: 0;
  transition: all 1s;
  transition-delay: 0s;
}
.swiper-slide-active .advantages-screen-04__item {
  opacity: 1;
}
.swiper-slide-active .advantages-screen-04__item:nth-child(1) {
  transition-delay: 0.25s;
}
.swiper-slide-active .advantages-screen-04__item:nth-child(2) {
  transition-delay: 0.5s;
}
.swiper-slide-active .advantages-screen-04__item:nth-child(3) {
  transition-delay: 0.75s;
}
.swiper-slide-active .advantages-screen-04__item:nth-child(4) {
  transition-delay: 1s;
}
.advantages-screen-04__icon:not(:last-child) {
  margin-bottom: 26px;
}
@media (max-width: 1920px) {
  .advantages-screen-04__icon:not(:last-child) {
    margin-bottom: calc(10px + 16 * ((100vw - 320px) / 1600));
  }
}
.advantages-screen-04__title {
  color: #1c1f25;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2666666667;
}
@media (max-width: 1920px) {
  .advantages-screen-04__title {
    font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
  }
}
.advantages-screen-04__title:not(:last-child) {
  margin-bottom: 26px;
}
@media (max-width: 1920px) {
  .advantages-screen-04__title:not(:last-child) {
    margin-bottom: calc(9px + 17 * ((100vw - 320px) / 1600));
  }
}
.advantages-screen-04__text {
  line-height: 1.8;
  font-size: calc(14px + 11 * ((100vw - 320px) / 1600));
}

@media (min-width: 767px) {
  .screen-05__container {
    display: flex;
    min-height: 100%;
  }
}
.screen-05__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 767px) {
  .screen-05__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }
}
.screen-05__images {
  flex: 0 1 50%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .screen-05__image.ibg {
    margin-left: calc(-15px + -225 * ((100vw - 320px) / 1600));
    margin-right: calc(-15px + -225 * ((100vw - 320px) / 1600));
  }
  .screen-05__image.ibg img {
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}

.screen-06 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 991.98px) {
  .screen-06__container {
    display: flex;
    min-height: 100%;
    align-items: center;
  }
}
.screen-06__section-header {
  flex: 0 1 50%;
}
@media (min-width: 991.98px) {
  .screen-06__section-header {
    padding-right: 1.25rem;
  }
}
@media (max-width: 991.98px) {
  .screen-06__section-header {
    padding-bottom: 1.875rem;
  }
}
.screen-06__services {
  flex: 0 1 50%;
}

@media (min-width: 767px) {
  .screen-07__container {
    display: flex;
    min-height: 100%;
  }
}
.screen-07__services {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 767px) {
  .screen-07__services {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }
}
.screen-07__image {
  flex: 0 1 50%;
  position: relative;
}
.screen-07__image img {
  max-width: 100%;
}
@media (min-width: 767px) {
  .screen-07__image {
    right: calc(-15px + -225 * ((100vw - 320px) / 1600));
  }
  .screen-07__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

@media (min-width: 767px) {
  .screen-08__container {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100%;
  }
}
.screen-08__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 767px) {
  .screen-08__content {
    padding-bottom: 3.125rem;
    padding-left: calc(-40px + 280 * ((100vw - 320px) / 1600));
  }
}
.screen-08__section-header {
  margin-bottom: 190px;
}
@media (max-width: 1920px) {
  .screen-08__section-header {
    margin-bottom: calc(20px + 170 * ((100vw - 320px) / 1600));
  }
}
.screen-08__image {
  flex: 0 1 50%;
  position: relative;
}
.screen-08__image img {
  width: 100%;
}
@media (min-width: 767px) {
  .screen-08__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.projects {
  display: flex;
  gap: 87px;
}
@media (max-width: 1920px) {
  .projects {
    gap: calc(20px + 67 * ((100vw - 320px) / 1600));
  }
}
.projects__value {
  font-size: calc(35px + 25 * ((100vw - 320px) / 1600));
  line-height: 1.25;
  font-weight: 700;
  color: #1c1f25;
}
.projects__value:not(:last-child) {
  margin-bottom: 1rem;
}
.screen-09__container {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100%;
}
@media (max-width: 991.98px) {
  .screen-09__container {
    flex-direction: column;
    padding-top: 2.5rem;
  }
}
.screen-09__items {
  flex: 0 0 66.66667%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .screen-09__items {
    margin-left: calc(-15px + -225 * ((100vw - 320px) / 1600));
    margin-right: calc(-15px + -225 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 991.98px) {
  .screen-09__section-header {
    flex: 0 0 33.3333%;
    display: flex;
    gap: 35px;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }
}
@media (min-width: 991.98px) and (max-width: 1920px) {
  .screen-09__section-header {
    gap: calc(20px + 15 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 991.98px) {
  .screen-09__section-header {
    margin-bottom: 50px;
  }
}
@media (max-width: 991.98px) and (max-width: 1920px) {
  .screen-09__section-header {
    margin-bottom: calc(10px + 40 * ((100vw - 320px) / 1600));
  }
}

.item-screen-09 {
  display: flex;
}
@media (min-width: 479.98px) {
  .item-screen-09:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .item-screen-09:nth-child(odd) .item-screen-09__body {
    text-align: right;
  }
}
@media (max-width: 479.98px) {
  .item-screen-09 {
    flex-direction: column;
  }
}
.item-screen-09__body {
  flex: 0 1 50%;
  align-self: center;
  padding: 1.25rem;
}
@media (max-width: 767.98px) {
  .item-screen-09__body {
    padding: 240px;
  }
}
@media (max-width: 767.98px) and (max-width: 1920px) {
  .item-screen-09__body {
    padding: calc(15px + 225 * ((100vw - 320px) / 1600));
  }
}
.item-screen-09__title:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1920px) {
  .item-screen-09__title:not(:last-child) {
    margin-bottom: calc(10px + 22 * ((100vw - 320px) / 1600));
  }
}
.item-screen-09__image {
  flex: 0 1 50%;
}
@media (max-width: 991.98px) {
  .item-screen-09__image {
    padding-bottom: 50%;
  }
}

.screen-10__container {
  display: flex;
  min-height: 100%;
  padding-bottom: 2.5rem;
}
@media (max-width: 991.98px) {
  .screen-10__container {
    padding-top: 2.5rem;
    flex-direction: column;
  }
}
.screen-10__item {
  flex: 0 0 33.333%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
@media (max-width: 991.98px) {
  .screen-10__item {
    flex-direction: column;
    gap: 20px;
  }
}
.screen-10__image {
  flex-grow: 0;
  flex-basis: 57.407%;
  margin-bottom: calc(16px + 44 * ((100vw - 320px) / 1600));
}
@media (max-width: 991.98px) {
  .screen-10__image {
    padding-bottom: 60%;
  }
}
@media (min-width: 991.98px) {
  .screen-10__body {
    padding-right: 0.9375rem;
  }
}
.screen-10__title:not(:last-child) {
  margin-bottom: calc(10px + 22 * ((100vw - 320px) / 1600));
}
.screen-11 {
  position: relative;
}
@media (min-width: 767px) {
  .screen-11::after {
    content: "";
    background-color: rgba(196, 196, 196, 0.3);
    position: absolute;
    height: 100%;
    width: 37.5%; /* 720/1920 */
    left: 0;
    top: 0;
  }
}
.screen-11__container {
  position: relative;
  z-index: 2;
  min-height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}
@media (max-width: 767px) {
  .screen-11__container {
    flex-direction: column;
  }
}
.screen-11__items {
  display: grid;
  gap: calc(15px + 45 * ((100vw - 320px) / 1600));
}
@media (min-width: 767px) {
  .screen-11__items {
    padding-left: calc(-40px + 280 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 767px) {
  .screen-11__items {
    margin-bottom: 1.875rem;
  }
}
.screen-11__item {
  opacity: 0;
  transition: all 1s;
  transition-delay: 0s;
}
.swiper-slide-active .screen-11__item {
  opacity: 1;
}
.swiper-slide-active .screen-11__item:nth-child(1) {
  transition-delay: 0.25s;
}
.swiper-slide-active .screen-11__item:nth-child(2) {
  transition-delay: 0.5s;
}
.swiper-slide-active .screen-11__item:nth-child(3) {
  transition-delay: 0.75s;
}
.swiper-slide-active .screen-11__item:nth-child(4) {
  transition-delay: 1s;
}
.screen-11__title:not(:last-child) {
  margin-bottom: calc(12px + 20 * ((100vw - 320px) / 1600));
}
.screen-12__container {
  display: flex;
  min-height: 100%;
}
@media (min-width: 767px) {
  .screen-12__container {
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 767px) {
  .screen-12__container._container {
    padding-left: 0;
    padding-right: 0;
  }
}
.screen-12__body {
  flex-grow: 1;
  position: relative;
  padding-top: calc(50px + 105 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 105 * ((100vw - 320px) / 1600));
  padding-left: calc(15px + 225 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 225 * ((100vw - 320px) / 1600));
}
.screen-12__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 31, 37, 0.6);
}
@media (max-width: 479.98px) {
  .screen-12__body::after {
    background: rgba(28, 31, 37, 0.9);
  }
}
@media (max-width: 767px) {
  .screen-12__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
  }
}
.screen-12__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  object-fit: contain;
}
.screen-12__items {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 479.98px) {
  .screen-12__items {
    flex-direction: column;
    gap: 1.875rem;
  }
}
.screen-12__item {
  color: #e3e6ec;
  flex: 0 0 33.333%;
  text-align: center;
}
.screen-12__value {
  font-size: calc(27px + 33 * ((100vw - 320px) / 1600));
  line-height: 1.25;
  font-weight: 700;
}
.screen-12__label {
  line-height: 1.24;
  font-weight: 400;
}