.section-header {
    &__label {
        line-height: math.div(31, 25);
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 32, 12, 1);
        }
        @extend %animate;
    }

    &__title {
        @include adaptive-value("font-size", 50, 25, 0);
        line-height: math.div(75, 60);
        font-weight: 700;
        color: $darkcolor;
        @include adaptive-value("max-width", 469, 274, 0);
        &_big {
            @include adaptive-value("max-width", 840, 470, 0);
        }
        &:not(:last-child) {
            margin-bottom: em(45, 60);
            @media (min-width: 1091px) {
                margin-bottom: em(132, 60);
            }
        }
        @extend %animate;
    }
    &__text {
        max-width: rem(540);
        line-height: math.div(45, 25);
        @include adaptive-value("font-size", 25, 15, 1);
        @extend %animate;
    }
    &_lite {
        .section-header__text {
            color: #e3e6ec;
        }
        .section-header__title {
            color: #fff;
            @include adaptive-value("font-size", 60, 35, 0);
        }
    }
}

// Services

.services {
    display: grid;
    @include adaptive-value("gap", 60, 10, 0);

    &__item {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 50, 10, 0);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: flex-start;
        }
        opacity: 0;
        transition: all 1s;
        transition-delay: 0s;
        .swiper-slide-active & {
            @for $i from 1 through 4 {
                $delay: $i * 0.25;
                &:nth-child(#{$i}) {
                    transition-delay: #{$delay}s;
                }
            }
            opacity: 1;
        }
    }

    &__icon {
        flex: 0 0 rem(60);
        height: rem(60);
        img {
            max-width: 100%;
        }
    }

    &__body {
    }

    &__title {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 32, 8, 0);
        }
    }
}
.text {
    @include adaptive-value("font-size", 25, 14, 0);
    line-height: math.div(45, 25);
}
.title {
    color: #1c1f25;
    font-weight: 700;
    line-height: math.div(38, 30);
    @include adaptive-value("font-size", 30, 18, 0);
}

%animate {
    transition: all 1s;
    transform: translate(0px, rem(100));
    opacity: 0;
    .swiper-slide-prev & {
        transform: translate(0px, rem(-100));
    }
    .swiper-slide-next & {
        transform: translate(0px, rem(100));
    }
    .swiper-slide-active & {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
