.page {
    counter-reset: item;
    &__section {
        &::before{
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translate(50%, -50%);
            @include adaptive-value('right', 120, 7.5, 0);
            counter-increment: item;
            content: counter(item, decimal-leading-zero);
            font-weight: 700;
            @include adaptive-value('font-size', 50, 18, 1);
            color: #e3e6ec;
            @media (max-width: 767px) {
                top: rem(25);
                right: 50%;
            }
        }
        &_center{
            
        }
    }
}