.screen-07 {
    &__container {
        @media (min-width: 767px) {
            display: flex;
            min-height: 100%;
        }
    }

    &__services {
        flex: 0 1 50%;
        align-self: center;
        padding-top: rem(20);
        padding-bottom: rem(20);

        @media (min-width: 767px) {
            padding-bottom: rem(50);
            padding-right: rem(20);
        }
    }

    &__image {
        flex: 0 1 50%;
        position: relative;
        img {
            max-width: 100%;
        }

        @media (min-width: 767px) {
            @include adaptive-value("right", -240, -15, 0);
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}
